* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --text-color: #000;
  --text-color-two: #fff;
  --header-color: #043463;
  --background-color: #f9f9f9;
  --background-color-two: #e9eef5;
  --footer_color: #0d7cce;
  --border-color: #fff;
  --border-color-two: #000;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

button {
  border: none;
  background-color: transparent;
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
  transition: background-color 0.25s;
}
